body{
    padding-bottom: 60px;
}
.foot{
    width: 100%;
    height: auto;
    padding: 5px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(#daeaee);
}
.foot a{
    margin: 0 10px;
}
.foot a img{
    width: 30px;
}