
.nav-bar {
  background:linear-gradient(rgb(250, 5, 250),rgb(189, 234, 247));
}

.category {
  width: 100%;
  margin-top: 15vh;
  margin-bottom: 12vh;
  padding: 1.5rem 0;
}
#info{
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  font-weight: 600;
  border-radius: 15px;
  background:linear-gradient(rgb(103, 219, 250), rgb(133, 133, 168) );
}
 #info a {
  width: max-content;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: xx-large;
  color: black;
} 

.form-container {
  width: 320px;
  margin: auto;
  border-radius: 0.75rem;
  background:linear-gradient(rgb(112, 113, 112),rgb(71, 71, 129));
  padding: 1em 2rem 1em;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgb(245, 228, 244);
  margin-bottom: 4px;
}

.input-group input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgb(96, 113, 154);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: rgb(245, 228, 244);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgb(245, 228, 244);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(245, 228, 244);
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(245, 228, 244);
}

#users,#providers {
  margin-top: 5rem;
}