.nav-bar {background:linear-gradient(rgb(233, 224, 233),rgb(28, 199, 247) );
}

.category {
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 12vh;
    background:linear-gradient(rgb(80, 175, 201), rgb(206, 206, 241) );
    padding: 1.5rem 0;
}
#info{
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  font-weight: 600;
  border-radius: 15px;
  background:linear-gradient(rgb(80, 175, 201), rgb(206, 206, 241) );
}
#info a {
  width: max-content;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: xx-large;
  color: black;
}

.container {
    position: relative;
    max-width: 500px;
    height: auto;
    width: 100%;
    background:linear-gradient(rgb(39, 229, 226), rgb(118, 80, 125));
    padding: 0 25px 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    margin: auto;
    margin-top: 8vh;

}

.container h2 {
    text-align: center;
    margin-bottom: 0.5em;

}

.container .U-img {
    width: 80px;
}

.container header {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.container .form {
    margin-top: 15px;
}

.form .input-box {
    width: 90%;
    margin-top: 10px;
}

.input-box label {
    color: #000;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #0a0909;
    margin-top: 5px;
    border: 2px solid #4795e9;
    border-radius: 6px;
    padding: 0 15px;
    background: #a9bcea;
    ;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    width: 90%;
    display: flex;
    gap: 65px;
}

.form .gender-box {
    margin-top: 10px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: #4b1bea;
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #000;
}

.address :where(input, .select-box) {
    margin-top: 10px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: #a9bcea;
    ;
}

.form button {
    height: 40px;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #667fda;
}

.form button:hover {
    background: #44438a;
    color: #fcfcfc;
}

.form .columns {
    width: 107%;
    display: flex;
    gap: 2%;

}

#submit_btn {
    width: 20%;
}